<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="#" routerLink="select">Select All</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="products">Select 5 rows</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="#" routerLink="insert">Insert Reg.</a>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="#" routerLink="selectLocal">Seleccionar info from local BE</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#" routerLink="usemock">Usar info from mock file</a>
  </li>
</ul>
<router-outlet></router-outlet>
